<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐淘移动端首页</title>
    <!-- 引入mui的框架css文件 -->
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <!-- 引入字体图标的css文件 -->
    <link rel="stylesheet" href="./lib/fontAwesome/css/font-awesome.css">
    <!-- 引入less的css文件 -->
    <link rel="stylesheet/less" href="./less/category.less">
    <!-- 引入less的js文件 -->
    <script src="./lib/less/less.js"></script>

</head>

<body>
    <div class="layOut">
        <!-- 头部区域 -->
        <header id="header">
            <a href="#" class="fa fa-arrow-left"></a>
            <form action="#">
                <input type="search" placeholder="请输入相关商品">
            </form>
            <a href="search.html" class="fa fa-search" aria-hidden="true"></a>
        </header>
        <!-- 主体区域 -->
        <main id="main">
            <div class="category-left">
                <ul>
                    <!-- <li class="active"><a href="#">运动馆</a></li>
                    <li><a href="#">女士馆</a></li>
                    <li><a href="#">男士馆</a></li>
                    <li><a href="#">帆布馆</a></li>
                    <li><a href="#">户外馆</a></li> -->
                </ul>
            </div>
            <div class="category-right">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <!--这里放置真实显示的DOM内容-->
                        <div class="mui-row">
                            <!-- <div class="mui-col-xs-4">
                                <a href="#">
                                    <img src="./images/brand1.png" alt="">
                                    <p>耐克</p>
                                </a>
                            </div>
                            <div class="mui-col-xs-4">
                                <a href="#">
                                    <img src="./images/brand2.png" alt="">
                                    <p>阿迪</p>
                                </a>
                            </div>
                            <div class="mui-col-xs-4">
                                <a href="#">
                                    <img src="./images/brand3.png" alt="">
                                    <p>新百伦</p>
                                </a>
                            </div>
                            <div class="mui-col-xs-4">
                                <a href="#">
                                    <img src="./images/brand4.png" alt="">
                                    <p>哥伦比亚</p>
                                </a>
                            </div>
                            <div class="mui-col-xs-4">
                                <a href="#">
                                    <img src="./images/brand5.png" alt="">
                                    <p>匡威</p>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- 底部区域 -->
        <footer id="footer">
            <div class="mui-row">
                <div class="mui-col-xs-3 "><a href="index.html" class="tab_home fa fa-home active"><span>首页</span></a></div>
                <div class="mui-col-xs-3"><a href="category.html" class="tab_cate fa fa-bars"><span>分类</span></a></div>
                <div class="mui-col-xs-3"><a href="cart.html" class="tab_cart fa fa-shopping-cart"><span>购物车</span></a></div>
                <div class="mui-col-xs-3"><a href="user.html" class="tab_user fa fa-user"><span>会员中心</span></a></div>
            </div>
        </footer>
    </div>
    <!-- 引用左边分类模板 -->
    <script type="text/html" id="categoryTmp">
        {{each list value i}}
        {{if i==0}}
        <li class="active"><a href="#"data-id="{{value.id}}">{{value.categoryName}}</a></li>
        {{else}}
        <li class=" "><a href="#"data-id="{{value.id}}">{{value.categoryName}}</a></li>
        {{/if}}
        {{/each}}
    </script>

    <!-- 引用品牌的模板 -->
    <script type="text/html" id="brandTmp">
        <!-- 如果获得的长度不为0,就遍历,不然就打印出p标签内容 -->
        {{if list.length>0}}
        {{each list value}}
    <div class="mui-col-xs-4">
            <a href="#" data-id="{{value.id}}">
                <img src="{{value.brandLogo}}" alt="">
                <p>{{value.brandName}}</p>
            </a>
    </div>
    {{/each}} 
    {{else}}
    <p>没有查到相关内容</p>
        {{/if}}
          
</script>
    <!-- 引入zepto的js文件 -->
    <script src="./lib/zepto/zepto.min.js"></script>
    <!-- 引入mui的js文件 -->
    <script src="./lib/mui/js/mui.js"></script>
    <!-- 引入模板的js文件 -->
    <script src="./lib/artTemplate/template-web.js"></script>
    <!-- 引入主页的js文件 -->
    <script src="./js/category.js"></script>



</body>

</html>